[submodule "iob-timer"]
	path = timer-fork
	url = git@github.com:jose-serafim/iob-timer.git
[submodule "tools/iob-lib"]
	path = lib
	url = git@github.com:IObundle/iob-lib.git
[submodule "submodules/iob-soc"]
	path = iob-soc-fork
	url = git@github.com:jose-serafim/iob-soc.git
[submodule "submodules/knn_fork"]
	path = knn_fork
	url = git@github.com:josejsarmento/iob-knn.git
[submodule "submodules/soc_knn_fork"]
	path = soc_knn_fork
	url = git@github.com:josejsarmento/iob-soc-knn.git
